<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>我是success2页面</h1>

    <!--<p th:text="${hello}">我不好</p>asdasd-->
    <!--<p th:utext="${hello}">我不好</p>-->

    <!--<p th:text="${map}">我不好</p>-->
    <!--<p th:utext="${map.hello}">我不好</p>-->

<!--================================================================-->
    <!--<p th:each="aaa:${map.users}" th:text="${aaa}">-->
    <!--</p>-->

<!--==============================================================-->
<!--第二种循环的写法：-->
    <!--<p th:each="bbb:${map.users}" th:text="${bbb}">-->
        <!--[[${bbb}]]-->
    <!--</p>-->

</body>
</html>